# for reference see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

* @tgosling-genesis @skawian @kievitsp @jacinpoz @khouari1 @rafaelnferreira @MichaelJHenson @perryking @anderew @jay-taylerson
